<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset Authorization</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div style="text-align: center;padding-left: 10px;border-radius: 5px;background-color: #E7F4FF;padding-bottom: 15px;border:1px solid #d2d2d2;">
            <h4><p>Hi %%username%%!</p></h4>
            <p>It looks like you have requested to reset your password. Click the link below to reset it!</p>
            <p><a href="%%url%%account/resetpassword/%%password_authentication%%/%%username%%">Click me!</a></p>
        </div>
    </body>
</html>
