<!DOCTYPE html>
<html>
    <head>
        <title>Verify your email address!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div style="padding-left: 10px;border-radius: 5px;background-color: #E7F4FF;padding-bottom: 15px;border:1px solid #d2d2d2;">
            <h4><p style="text-align:center;">Welcome to %%website_name%%, %%username%%!</p></h4>
            <p style="text-align: center;">Your account is almost ready. In order to proceed, we just need you to click on this link below!</p>
            <p style="text-align:center;"><a href="%%url%%account/verify/%%verification_number%%/%%username%%">Click me!</a></p>
        </div>
    </body>
</html>
